.checkboxListContainer {
  width: 186px;
  background-color: white;
  margin-top: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -2px 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

ul {
  position: absolute;
  width: 186px;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: all .2s;
}
.checkboxListContainer li:hover{
  background-color: rgba(239, 238, 241, 1);
}

.checkboxListContainer h3 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 14px;
  cursor: pointer;
}



input[type="checkbox"] {
  margin-left: 8px;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
}

.customCheckbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.2s;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.customCheckbox:checked {
  background-color: #fff;
}

.customCheckbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #000;
  border-radius: 50%;
}

.checkboxListContainer li.selected {
  background-color: rgba(239, 238, 241, 1);
}