.task-manager-container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 23px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-manager-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-name{
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  border: 1px solid #73737374;
  background-color: #919296;
  border-radius: 23px;
  padding-left: 20px;
}
.task-list {
  list-style-type: none;
  padding: 0;
  background-color: #868686;
  margin-bottom: 10px;
  padding: 20px 15px;
  border-radius: 23px;
  border: 1px solid #73737374;
}


